<div class="row">

  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Conversation with <%= @the_other.username %>
      </div>
        <div class="panel-body">
          <div class="messages_room">
            <% unless @messages.blank? %>
              <%= render @messages %>
            <% end %>
          </div>
          <br>
          <%= form_for [@conversation, Message.new] do |f| %>
            <%= f.text_area :content, rows: 1, class: "form-control text_area", autofocus: true %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
