<div class="row">
  <div class="col-md-12">
    <ul class="head_lines">
      <li>For you</li>
      <% if @jobs_3 %>
        <% @jobs_3.each do |job| %>
          <%= link_to job_category_path(job) do %>
            <li><%= job.name %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-12 col-md-8">
    <% if @stories.any? %>
    <ul class="stories">
      <%= render @stories %>
    </ul>
    <% end %>
  </div>
  <div class="col-md-4 sidebar">
    <h3>Sidebar</h3>
  </div>
</div>
